"API_ID" = "1558447"   # Get it from my.telegram.org
"API_HASH" = "f40deaf216b6cd2f97c87fd2b5217ddf"   # Get it from my.telegram.org
"FEED_URLS" = "http://rss.cnn.com/rss/cnn_topstories.rss"  # RSS Feed URL of the site.
"BOT_TOKEN" = "1959908794:AAHJKZd3ECg_xE6XwiVBeVskFHS13gnaMlc"   # Get it by creating a bot on https://t.me/botfather
"LOG_CHANNEL" = "-1001535892102"   # Telegram Channel ID where the bot is added and have write permission. You can use group ID too.
"INTERVAL" = "300"   # Check Interval in seconds.  
"MAX_INSTANCES" = "10"   # Max parallel instance to be used.
